@import "./global-style.scss";

.btn-investidor-header{
    @include btn-header(185px, $verde-folha);
    margin-top: 3rem;
    color: $verde-folha;
}

.text-verde{
    color: $verde-folha;
    font-weight: normal !important;
}

.investidor-banner {
    margin-bottom: -16rem;
}

.col-icons-inv{
    @include flexSpace(flex-start);
    padding-left: 5rem !important;
}

.container-fazemos-inv{
    padding-top: 10rem !important;
}

@media only screen and (max-width: 769px){
    // .container-text-fornecedor{
    //     padding: 0 !important;
    // }
    .btn-investidor-header{
        margin-top: 2rem;
    }
    .investidor-banner {
        margin-bottom: -12rem;
    }
    // .container-solucoes {
    //     margin-top: 12rem;
    // }
    // .container-text-solucoes {
    //     padding: 0 !important;
    // } 
    // .row-icons {
    //     padding: 0 !important;
    // }  
    // .text-info-icons{
    //     @include main-text($off-black, 1.5rem);
    // } 
    // .col-icons{
    //     margin-bottom: 2rem !important;
    //  }
    //  .col-icons-two{
    //      @include flexSpace(flex-start);
    //      margin-bottom: 2rem !important;
    //      //padding-left: 5rem !important;
    //   }
    //   .container-fazemos {
    //     padding-top: 1rem !important;
    // }
    // .main-text-forn {
    //     padding-right: 0rem;
    //   }
    //   .col-fazemos{
    //     padding-left: 0 !important;
    // }
    // .banner-two {
    //     margin-top: 0 !important;
    //     width: 100%;
    // }
    // .container-compara {
    //     margin-top: 2rem !important;
    //     padding: 2rem !important;
    // }
    // .p-compara {
    //     padding-bottom: 0 !important;
    // }
    // .icons-compara {
    //     padding: 0 2rem !important;
    // }
    // .monkey-container{
    //     text-align: center;
    //     border-top: 3px solid $gray-600;
    //     border-left: 0px solid ;
    // }
    // .mercado-container{
    //     text-align: center;
    // }
    // .flex-container{
    //     justify-content: center;
    // }
    // .historias-container {
    //     margin-top: 4rem !important;
    // }
    // .contact-header{
    //     text-align: center;
    // }
    // .container-text-solucoes{
    //     // text-align: center;
    //     // padding: 0 18rem !important;
    //     margin-bottom: 1rem;
    // }
    // .container-user{
    //     margin-bottom: 2rem;
    // }
    // .midia-container {
    //     margin-top: 3rem !important;
    //     padding: 3rem;
    // }
    // .icons-midia {
    //     padding: 0 !important;
    // }
    // .container-list {
    //     margin: 5rem 0 !important;
    // }
    // .header-list {
    //     padding: 3.5rem 0 !important;
    // }
    }