@import "./global-style.scss";

//Main Banner
.text-main-about{
    padding: 4rem 12rem 1.5rem !important;
    text-align: center;
}

.text-about{
    padding: 0 11rem 2.5rem !important;
    text-align: center;
}

.sobre-nos-banner{
    width: 100%;
    height: auto;
    margin-bottom: 2.5rem;
}

.big-header{
    font-size: 13.5rem;
    font-weight: normal;
    line-height: 253px;
}

.container-btn{
    display: flex;
    justify-content: flex-end;
}

.btn-main{
    @include btn-sub-header(132px);
    margin-right: 17rem;
    margin-top: -7rem;
    z-index: 2;
}

//Origem
.origem-header {
    padding-top: 5rem;
    padding-left: 16rem !important;
    z-index: 1;
}

.origem-banner{
    margin-top: -11.5rem;
}

.origem-text{
    display: flex;
    align-self: flex-end;
    margin-bottom: 6rem;
}

//Numeros
.btn-num{
    @include btn-sub-header(162px);
    margin-top: -8rem !important;
    margin-left: 43rem;
    z-index: 2;
}

.text-num{
    text-align: center;
}

.container-col{
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    // @include flexDirection (column);
}

.title-col{
    @include main-text($gray-600, 2rem);
    font-weight: bold;
}

//Negocio
.row-container{
    margin-top: -8rem !important;
}

.negocio-text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5rem;
}

//SPIKE
.container-spike{
    margin-top: 1rem;
    background: $preto-prego;
    border-radius: 32px;
}

.spike-logo{
    height: 100%;
    width: auto
}

.text-spike {
        @include main-text($branco-uacari, 1.25rem);
        padding: 2rem 18.5rem 3rem 18.5rem !important;
        text-align: center; 
}

.waves{
    width: 100%;
}

//NOSSA EQUIPE
.container-equipe{
    margin-top: 9rem;
}

.equipe-header-1{
    margin-left: 11.25rem;
    margin-bottom: -5rem;
}

.equipe-text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
}

//Midia
.container-midia{
    margin-top: 3.5rem;
}
.btn-midia{
    @include btn-sub-header(169px);
    margin-right: 27rem;
    margin-top: -7rem;
    z-index: 2;
}

.container-info-midia{
    padding-right: 10rem !important;
    a{
        font-weight: 600;
    }
}

.header-midia{
    @include main-text($gray-500, 2.5rem);
    font-weight: bold;
    margin-top: 3.6rem;
}

.text-midia{
    @include main-text($gray-400, 1.25rem);
}

.row-images{
    margin: 4.5rem 0 10rem 0 !important;
    display: flex;
    justify-content: space-around;
    padding: 0 17rem !important;
    align-items: center;
}

#exame{
    height: 1.5rem;
}