@import "./global-style.scss";

//Main Banner
.text-main-about{
    padding: 4rem 12rem 1.5rem !important;
    text-align: center;
}

.text-about{
    padding: 0 11rem 2.5rem !important;
    text-align: center;
}

.sobre-nos-banner{
    width: 100%;
    height: auto;
    margin-bottom: 2.5rem;
}

.big-header{
    font-size: 13.5rem;
    font-weight: 400;
    line-height: 253px;
}

.container-btn{
    display: flex;
    justify-content: flex-end;
}

.btn-main{
    @include btn-sub-header(132px);
    margin-right: 17rem;
    margin-top: -7rem;
    z-index: 2;
}

.origem-header {
    padding-top: 5rem;
    padding-left: 16rem !important;
    z-index: 1;
}

.origem-banner{
    margin-top: -11.5rem;
}

.origem-text{
    display: flex;
    align-self: flex-end;
    margin-bottom: 6rem;
}