@import "./global-style.scss";

//Main Banner
.container-text-fornecedor{
    padding: 0 13rem !important;
}

.container-text-ancora {
    padding: 0 9rem !important;
}


.text-ancora{
    padding: 0 7rem !important;
}

.btn-fornecedor-header{
    @include btn-header(185px, $amarelo-guariba);
    margin-top: 3rem;
}

.btn-ancora-header{
    @include btn-header(185px, $azul-roxellana);
    margin-top: 3rem;
    color: $azul-roxellana;
}

.btn-investidor-header{
    @include btn-header(185px, $verde-folha);
    margin-top: 3rem;
    color: $verde-folha;
}

.fornecedor-banner{
    margin-bottom: -18rem;
}

.ancora-banner {
    margin-bottom: -22rem;
}

.investidor-banner {
    margin-bottom: -16rem;
}

//Vantagens
.container-vantagens {
    margin-top: 13rem;
}

.row-icons-anc {
    padding: 0 8rem 4rem !important;
}
.text-info-anc{
    @include main-text($off-black, 1.5rem);
}
.ventagens-investor{
    @include container-background($gray-100);
    margin-top: 6.5rem !important;
    padding: 11.25rem 13rem;
}

.container-brand-inv{
    padding-top: 15rem;
    padding-bottom: 8.5rem;
}

//Dynamic
.container-dynamic{
    margin-top: 10rem !important;
}

.dynamic-col{
    @include flexDirection(column);
    padding-left: 1.5rem !important;
}

.btn-dynamic{
    @include btn-medium-full(48px);
    width: 288px;
    a{
        text-decoration: none;
        color:$branco-uacari;
    }
}

//Soluções
.container-solucoes{
    margin-top: 18rem;
}

.container-text-solucoes{
    padding: 0 18rem !important;
    margin-bottom: 3rem;
}
.flow-monkey{
    width: 100%;
}

.text-blue{
    color: $azul-roxellana;
    font-weight: normal !important;
}
.text-verde{
    color: $verde-folha;
    font-weight: normal !important;
}
.row-icons{
    padding: 0 18rem 4.5rem !important;

}

.col-icons{
   @include flexSpace(flex-start);
   align-items: center;
}

.col-icons-two{
    @include flexSpace(flex-end);
 }

 .col-icons-inv{
    @include flexSpace(flex-start);
    padding-left: 5rem !important;
}

.col-icons-three{
    padding-right: 3rem !important;
}

.text-info-icons{
    @include main-text($off-black, 2rem);
}

//Fazemos
.container-fazemos{
    padding-top: 4rem !important;
}

.col-fazemos{
    padding-left: 3rem !important;
}

.bannner-two-lines{
    background: url(../images/como-fazemos-two-lines.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 142px;
    margin-top: -12rem;
    margin-left: 24rem;
}
.btn-fazemos-inv{
    @include btn-medium-white(360px);
    margin-top: 3rem !important;
    color: $verde-folha;
    a{
        color: $verde-folha;
        text-decoration: none;
    }
}

.banner-2 {
    margin-top: -9rem !important;
}

.col-fazemos-2{
    padding: 3rem 3rem 0 !important;
}

.main-text-forn {
    @include main-text($gray-600, 1.25rem);
    padding-right: 3rem;
    line-height: 32px;
  }

  .btn-fazemos{
    @include btn-medium-white(360px);
    margin-top: 3rem !important;
    a{
        text-decoration: none;
    }
}

.container-fazemos-inv{
    padding-top: 10rem !important;
}

//Compara
.container-compara{
    margin-top: 7rem !important;
    background: $preto-prego;
    border-radius: 32px;
    padding: 5rem 0 !important; 
}
.header-compara{
        @include main-text($branco-uacari, 3rem);
        font-weight: 700 !important; 
}

.text-compara{
    @include main-text($gray-300, 1.25rem);
}
.p-compara{
padding-bottom: 3rem !important;
}
.icons-compara{
    padding: 0 11rem !important;
}
.flex-container{
    display: flex;
}
.monkey-container{
    padding: 3rem !important;
    border-left: 3px solid $gray-600;
}
.mercado-container{
    padding: 3rem 0 !important;
}

//Historias
.historias-container{
    margin-top: 6.5rem !important;
}
.container-user{
    background: $gray-100;
border: 1px solid $azul-roxellana !important;
border-radius: 16px;
padding: 2rem !important;
}

.text-user{
    @include main-text($gray-600, 1rem);
}

.container-historias{
    margin-bottom: 9rem;
}

//Midia
.midia-container{
    margin-top: 7.5rem !important;
    background: $azul-roxellana;
    border-radius: 32px;
    padding: 6rem 13rem;
}

.icons-midia{
    margin-top: 3rem !important;
    padding: 0 20rem !important;
}

.container-list{
    margin: 8rem 0 !important;
    border-top: 1px solid $gray-600;
    @include flexSpace(center);
}

.midia-container-ancora {
    @include container-background($azul-roxellana);
    @include flexCenter();
}

.midia-container-investidor {
    @include container-background($verde-folha);
    @include flexCenter();
}

.header-list{
    padding: 5.5rem 13rem 2.5rem !important;
}

.btn-list{
    @include btn-medium-full(48px);
    width: 360px !important;
}

//Suntentavel
.sustentavel-container-ancora {
    margin-top: 10.5rem !important;
    background: url('../images/back-green.png');
    border-radius: 32px;
    padding: 4rem 18rem;
    @include flexCenter();
}

.text-sustentavel{
    font-size: 1.25rem;
    color: $branco-uacari;
}

.historias-investidor {
    padding: 0 25rem !important;
}

@media only screen and (max-width: 769px){
    .container-text-fornecedor{
        padding: 0 !important;
    }
    .container-text-ancora{
        padding: 0 !important;
    }
    .text-ancora{
        padding: 0 !important;
    }
    .btn-fornecedor-header{
        margin-top: 2rem;
    }
    .btn-ancora-header{
        margin-top: 2rem;
    }
    .fornecedor-banner {
        margin-bottom: -12rem;
    }
    .ancora-banner {
        margin-bottom: -12rem;
    }
    .container-solucoes {
        margin-top: 12rem;
    }
    .container-vantagens {
        margin-top: 8rem;
    }
    .container-text-solucoes {
        padding: 0 !important;
    }
    .container-historias{
        margin-bottom: 2rem;
    }
    .row-icons-anc {
        padding: 0 !important;
    }
    .row-icons {
        padding: 0 !important;
    }  
    .text-info-icons{
        @include main-text($off-black, 1.5rem);
    } 
    .col-icons{
        margin-bottom: 2rem !important;
     }
     .col-icons-two{
         @include flexSpace(flex-start);
         margin-bottom: 2rem !important;
         //padding-left: 5rem !important;
      }
      .container-fazemos {
        padding-top: 1rem !important;
    }
    .main-text-forn {
        padding-right: 0rem;
      }
      .col-fazemos{
        padding-left: 0 !important;
    }
    .col-fazemos-2{
        padding: 0 !important;
    }
    .banner-2 {
        margin-top: 0 !important;
        width: 100%;
    }
    .bannner-two-lines{
        background: url(../images/como-fazemos-two-line.png);
        background-repeat: no-repeat;
        margin-top: -3rem;
        margin-left: 11rem;
        width: 10%;
    }
    .container-compara {
        margin-top: 2rem !important;
        padding: 2rem !important;
    }
    .p-compara {
        padding-bottom: 0 !important;
    }
    .icons-compara {
        padding: 0 2rem !important;
    }
    .monkey-container{
        text-align: center;
        border-top: 3px solid $gray-600;
        border-left: 0px solid ;
    }
    .mercado-container{
        text-align: center;
    }
    .flex-container{
        justify-content: center;
    }
    .historias-container {
        margin-top: 4rem !important;
    }
    .contact-header{
        text-align: center;
    }
    .container-text-solucoes{

        // padding: 0 18rem !important;
        margin-bottom: 1rem;
    }
    .container-user{
        margin-bottom: 2rem;
    }
    .midia-container {
        margin-top: 3rem !important;
        padding: 3rem;
    }
    .icons-midia {
        padding: 0 !important;
    }
    .container-list {
        margin: 5rem 0 !important;
    }
    .header-list {
        padding: 3.5rem 0 !important;
    }
    .midia-container-ancora {
        margin-top: 3rem !important;
        padding: 3rem;
    }
    .sustentavel-container-ancor{
        margin-top: 3rem !important;
        padding: 3rem; 
    }
    }

    @media only screen and (max-width: 426px){
        .text-info-icons {
            @include main-text($off-black, 1.25rem);
        }
        .header-compara{
            @include main-text($branco-uacari, 2rem);   
    }
    .icons-compara {
        padding: 0 !important;
    }
    .mercado-container {
        padding: 2rem 0 !important;
    }
    .monkey-container {
        padding: 2rem 0 !important;
    }
    .main-text-forn {
        @include main-text($gray-600, 1rem);
      }
      .midia-container {
        padding: 3rem 1rem;
    }
    }